/*
Theme Name: Techtree blog theme
Theme URI: http://localhost/wordpress/techtree-theme
Author: <a href="http://www.techtree.xyz">Techtree</a>
Version: 1.1.2
Description: Techtree blog theme is a simple wordpress theme. It has responsive ui. Including psd also. This theme contains 5 basic pages. Any kind of modification or development of this theme is illegal untill the author permit to do so.
Tags: Ranviar Group, Ranvier group portfolio site, Ranvier group content website

*/

*{margin: 0;padding: 0}
a:hover{color: white}
a:active{border: none !important;outline: 0;box-shadow: none}
button:focus {outline:0 !important;}
a:focus{outline: 0 !important;}
ul li:hover{border-bottom: none !important;}

html,body{
    margin: 0 !important;padding: 0 !important;background-color: #ffffff !important;width: 100% !important;
}

ul li{list-style: none !important;}
ul li:after{list-style: none !important;}

html:hover,body:hover,div:hover,section:hover{background-color: unset !important;}

@font-face{font-family:gotham;src:url("resources/fonts/ProximaNova-Extrabld.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face{font-family: gotham; src: url("resources/fonts/Gotham-Light.otf");
    font-style: normal;
    font-weight: normal;
}

@font-face {font-family: gotham-bold;src: url("resources/fonts/Gotham-Bold.otf");
 font-style: normal;
    font-weight: normal;
}

label{font-size: 12px;font-family: gotham !important;}

.preloader-container{background-color: #000000;z-index:15000;display: block;position: fixed;top: 0;bottom: 0;left: 0;right: 0;width: 100%;height: 100%}
.preloader-1 {
  width: 66px;
  height: 12px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 10px;
  letter-spacing: 2px;
  z-index: 2000;
  position: fixed;
  top:50%;left: 50%;
}



.preloader-1 .line {
  width: 1px;
  height: 12px;
  background: #fff;
  margin: 0 1px;
  display: inline-block;
  animation: opacity-1 1000ms infinite ease-in-out;
}
.preloader-1 .line-1, .preloader-2 .line-1 { animation-delay: 800ms; }
.preloader-1 .line-2, .preloader-2 .line-2 { animation-delay: 600ms; }
.preloader-1 .line-3, .preloader-2 .line-3 { animation-delay: 400ms; }
.preloader-1 .line-4, .preloader-2 .line-4 { animation-delay: 200ms; }
.preloader-1 .line-6, .preloader-2 .line-6 { animation-delay: 200ms; }
.preloader-1 .line-7, .preloader-2 .line-7 { animation-delay: 400ms; }
.preloader-1 .line-8, .preloader-2 .line-8 { animation-delay: 600ms; }
.preloader-1 .line-9, .preloader-2 .line-9 { animation-delay: 800ms; }

@keyframes opacity-1 { 
  0% { 
    opacity: 1;
  }
  50% { 
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }  
}

@keyframes opacity-2 { 
  0% { 
    opacity: 1;
    height: 15px;
  }
  50% { 
    opacity: 0;
    height: 12px;
  }
  100% { 
    opacity: 1;
    height: 15px;
  }  
}
nav{background: rgba(9,9,1,0.2);color:#ffffff;}
#logomain{height:60px; margin-left: 10px}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a{position: relative;font-weight: bold}
nav ul li a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '';
  color: transparent;
  background: #f08f23;
  height: 1px;
}
nav ul li a:hover:after {
  width: 100%;
}

.navbar-toggler-icon{color: #ffffff !important}
.current-menu-item a{border-bottom:1px solid #f08f23}
.navbar-nav li {padding-left: 20px;padding-right: 20px}
.nav-link{color: #ffffff  !important;}
.banner{background:url('resources/images/banner.png') no-repeat 100% 100% ;width: 100%;position: relative;z-index: 1 ;height:650px; }
/*.banner h3{margin-top: 50%;line-height: 1.8;letter-spacing: 1px;font-family:gotham-bold}*/
#map{width: 100%;height: 400px}
.foot{padding: 15px;background: url('resources/images/footerbackground.png')no-repeat 100% 100%;background-size: cover}
.import-font{font-family: gotham;font-weight: bold;font-size: 15px; color: #c7c2c2}
.dif-color{color: #7d7d7d}
.footer-logo{height: 20px;width: auto}
#contact-us{padding: 60px}
#contact-us h4{font-weight: bold;font-family:gotham;color:#f08f23 ;text-decoration: none;margin-bottom: 50px }
.icon-content i{color: #ffffff !important;background-color: #f08f23;border-radius: 50%}
#contact-us>.container>.row{margin-bottom: 30px}
.warn{background-color: #f08f23;color: #ffffff}
#form-section{background:url("resources/images/form-back.jpg")no-repeat center center fixed;
}
.warn-bg{background-color: #f08f23;color: white}
.warn-col{color: #f08f23;text-decoration: none;font-family: gotham;margin-bottom: 30px}
.warn-color{color: #f08f23}
.paragraph{color: #777777;font-family: gotham;letter-spacing: 1px;font-weight: lighter !important;}
#form-section label{color: white;font-family: gotham}
#form-section h3{color: #f08f23;text-decoration: none;font-family: gotham}
#form-section h5{color: #f08f23;text-decoration: none;font-family: gotham}
#form-section form{border: 2px solid #f08f23; border-radius: 10px}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.moder-header{color: #f08f23;text-decoration: none;font-family: gotham;}
.consulting{position: relative}
.consulting:before{content: "";position: absolute;bottom: 0;left: 30%;right: 30%;width:400px;height: 1px; background-color: #f08f23}
.controlling-form{height: auto;width: 100%;background: rgba(237, 244, 231, 0.2);border: 1px solid #000000;color: white;padding: 5px;border-radius: 5px}
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

/*About page*/

.banner-page{background:url("resources/images/pagebackgroundcover.jpg") no-repeat;background-size: cover; width: 100%;height: 300px}
.banner-head-content{margin-top: 150px;font-family: gotham}
.about-consultants{width: 100%;height: 300px;background: url("resources/images/pagebackgroundcover.jpg")no-repeat;background-size: cover}
.about-consultants h2{margin-top: 100px}
.consultants-section h2{margin-top: 100px !important;}
.experts-sections-content{background-color: #f9f9f9}
.experts-sections-content ul li{list-style: none;color: #535353;font-family: lato;font-weight: bolder}

/*End about*/

/*Services*/
.color{color: #f08f23;}
/*End services*/

/*Blog*/
.bottom-border{border: 1px solid #f08f23}
.blogpost{height: auto;width: 450px;background-color: #fafafa;box-shadow: 0 15px 18px -12px #999999}
.thumbnail-div{position: relative}
.thumbnail-div h3{position: absolute;top: 50px;left: 20px;color: white;text-transform: uppercase;font-family: gotham}

/*pagination*/
.pagination {
    background: #f2f2f2;
    padding: 10px;
    margin-bottom: 20px;
}

.page-numbers{display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #f08f23;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);}

.page-numbers:hover{
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
}

.current{border: none;
    background: #f08f23;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);}


.testimoniel-corusel{background-color: #fafafa}

.digital-health-market{width: 100%;height: auto;min-height: 400px; background: url("resources/images/banner.png")no-repeat ;
background-size: cover}
.default-family{font-family: gotham;}
.bg-gray{background-color: #fafafa}

.dodo{max-width: 450px !important; height: auto !important;}

/*End blog*/

.extra-color{color: #3a3a3a !important;}
.navchanger{background:rgba(10,10,10,0.8) !important;padding: 10px;transition: 1s ease-in}
.camelcase{text-transform: capitalize !important;}
.thumbnail-div img{max-width: 450px !important}

.banner{background-size:cover !important}
.carousel{height: 650px }
.carousel-item{margin-top: 300px}


@media screen and(max-width: 750px) {
    body{font-size: 12px;}
    .banner{height: 550px}
    .consulting:before{width: 300px}
    .banner-head-content{margin-top: 100px}
    .carousel{height: 550px}
    .carousel-item{margin-top: 200px}
}

@media (max-width: 550px) {
    body{font-size: 12px;}
    .banner{height: 450px}
    .carousel{height: 450px}
    .carousel-item{margin-top: 150px}

    h3{
        font-size: 1.4em;
    }
    .consulting:before{width: 200px}
    .blogpost{width: 400px}
}



